<footer>
    <div class="footer-container">
      <div class="impressum">
        <p>&copy; {{ currentYear }} GPT 4 U. Alle Rechte vorbehalten.</p>
      </div>
      <ul class="footer-links">
        <li><a href="https://www.facebook.com/HSGUniStGallen/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
        <li><a href="https://twitter.com/HSGStGallen" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        <li><a href="https://www.linkedin.com/school/university-of-st-gallen/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/unistgallen/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
      </ul>
    </div>
  </footer>
