footer {
  background-color: #00802f; /* Set the background color of the footer */
  padding: 1rem 0; /* Add padding to the top and bottom of the footer */
  position: relative; /* Position the footer relatively */
  bottom: 0; /* Stick the footer to the bottom of the page */
  width: 100%; /* Make the footer span the full width of the page */
}

.footer-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space elements evenly horizontally */
  align-items: center; /* Vertically align items */
  max-width: 1200px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  font-size: 0.9rem; /* Set the font size for the footer */
}

.impressum {
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.footer-links {
  list-style-type: none; /* Remove bullet points from the list */
  display: flex; /* Use flexbox for layout */
  gap: 2.5rem; /* Add space between list items */
}

.footer-links a {
  color: #ffffff; /* Set the text color for footer links */
  text-decoration: none; /* Remove underline from links */
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.footer-links a:hover {
  color: #000000; /* Change the color when the link is hovered */
}