
<footer>
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="footer w-nav">
    <div class="navbarcontainer w-container">
      <div class="navbar-content">
        <div class="navbar-logo">
          <div class="copyright">
            <div class="copyright-text">Copyright &copy;  {{ currentYear }} GPT 4 U. Alle Rechte vorbehalten</div>
          </div>
        </div>
        <nav role="navigation" class="footer-menu w-nav-menu">
          <a href="https://www.facebook.com/HSGUniStGallen/" class="footer-link w-nav-link">
            <div class="footer-link-text">Facebook</div>
          </a>
          <a href="https://twitter.com/HSGStGallen" class="footer-link w-nav-link">
            <div class="footer-link-text">Twitter</div>
          </a>
          <a href="https://www.linkedin.com/school/university-of-st-gallen/" class="footer-link w-nav-link">
            <div class="footer-link-text">LinkedIn</div>
          </a>
          <a href="https://www.instagram.com/unistgallen/" class="footer-link w-nav-link">
            <div class="footer-link-text">Instagram</div>
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>
