
<div class='wrapper-main'> 
    <div class='wrapper-btn-headings'>
        <h1 class="mainhead"> chat application by chat gpt 4 u </h1>
        <h2 class="subhead"> Chatte online mit Deinen Freunden. Einfach. Schnell. Zuverlässig.</h2>
        <h2 class="subhead2"> wähle einen nickname</h2>

       <!-- <a class="btn-start" target='_blank' routerLink="/start" routerLinkActive="active">chat starten</a>-->
    
    </div>
    
   <img class='hero-img' src="assets/images/hero-image.svg" alt="Hero Image" />
    </div>