
<div class='wrapper-main'> 
   <div class="wrapper-btn-elements">
        <div class='wrapper-btn-headings'>
         <h1 class="mainhead"> chat application<br>by chat gpt 4 u </h1>
         <h2 class="subhead"> Chatte online mit Deinen Freunden. Einfach. Schnell. Zuverlässig.</h2>
        </div>
    
        <h2 class="subhead2"> wähle einen nickname</h2>
    
    </div>
    
    <img class='hero-img' src="assets/images/hero-image.svg" srcset="assets/images/Hero-Image-p-500.png 500w, assets/images/Hero-Image-p-800.png 800w, assets/images/Hero-Image-p-1080.png 1080w, assets/images/Hero-Image.png 1298w" sizes="(max-width: 767px) 90vw, (max-width: 991px) 649px, 50vw" alt="Hero Image" />
    </div>