h1 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 97%;
    text-align: center; 
    color: #00802F;
    margin-top: 50px;
    text-transform: uppercase;
}

p {

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 97%;
    text-align: center; 

}
a {
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 10rem;
    border: 2px solid #00802f;
    background-color:#00802f;
    color:  white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.10rem;
    transition: all 0.3s;
    position: absolute;
    top: 220px;
    left: 1000px;
    margin-left: 10px;
    overflow: hidden;
    z-index: 1;
    -webkit-appearance: none;
    transition: border-radius linear 0.05s, width linear 0.05s;

}

a:active{
    transform: scale(0.95);

}
.wrapper {

}
