h1 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 97%;
    color: #00802F;
    position: absolute;
    top: 150px;
    left: 157px;
}