<div class="wrapper">
  <div class="form-control" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <p [ngClass]="msg.class" [innerHTML]="msg.message" *ngFor="let msg of messages"></p>
  </div>
</div>

<textarea
  class="form-control-input"
  rows="2"
  type="text"
  placeholder="Nachricht eingeben"
  [(ngModel)]="chatMessage"
  (keyup.enter)="addMessage(chatMessage)"
  (input)="onTextInput($event)"
></textarea>

<button class="send" (click)="addMessage(chatMessage)">SENDEN</button>
<span class="charremain"> {{ characterCount }}/{{ maxCharacterLimit }}</span>
<div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
