<input
  [(ngModel)]="nickname"
  class="form-control"
  placeholder="Nickname eingeben"
  maxlength="30"
  (input)="onNicknameInput($event)"
  (keyup.enter)="createNickname(nickname); animateButton(nickname); redirectToStart(nickname)"
/>
<button
  class="erstellen"
  (click)="createNickname(nickname); animateButton(nickname); redirectToStart(nickname)"
>
  CHAT STARTEN
</button>
<div *ngIf="message" class="alert alert-success">{{ message }}</div>
<div class="chars">{{ characterCount }} / {{ maxCharacterLimit }}</div>
