<header>
    <div class="header-container">
      <a routerLink="/" class="logo">
        <img src="assets/images/logo.svg" alt="Logo" />
      </a>
      <nav>
        <ul class="nav-links">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">Über</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
        </ul>
      </nav>
    </div>
  </header>
