<header>
  <div class="header-container">
    <a href="https://www.unisg.ch/de/" target="_blank" routerLinkActive="active" class="logo">
      <img src="assets/images/logo.svg" alt="Logo" />
    </a>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/">Start</a></li>
        <li><a href="https://www.unisg.ch/de/universitaet/" target="_blank" routerLinkActive="active">Über</a></li>
        <li><a href="https://www.unisg.ch/de/kontakt-und-lageplan/" target="_blank"  routerLinkActive="active">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>